@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* Main content stylings */
html {
    background-color: #efecd7;
    height: 100%;
    display: flex;
    padding: 5px;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.main_container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    /* margin: 0 331px; */
}

/* Left container stylings */
.left_container {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    /* padding-top: 20px; */
    text-align: center;
}

h1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 35px;
}

h1 span {
    font-weight: 500;
}

ul {
    display: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    padding: 0;
    list-style-type: none;
    
}

li {
    background-image: url('../img/bullet_points.png');
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 30px;
}

/* Right container stylings */
.right_container {
    width: 100%;
}
form {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 25px;
    box-shadow: 1px 1px #00000026
    /* box-shadow: 6px 6px #00000026; */
}

label {
    display: block;
    font-size: 14px;
}

input {
    appearance: none;
    color: #00671f;
    width: 100%;
    border: none; 
    border-bottom: 1px solid #e8e8e8;
    padding: 1px 0;
    margin-top: 10px;
    margin-bottom: 17px;
}

.error_input {
    border-bottom: 1px solid #e00000;
}

    /* All inputs stylings  */
    input[placeholder] {
        font-size: 16px;
        font-weight: 300;
    }

    .label {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .label span {
        font-size: 11px;
        font-weight: 300;
        color: #af0000;
    }

    /* Password input stylings */
    .eye {
        position: relative;
    }

    .eye img {
        position: absolute;
        top: 0;
        right: 0;
    }

    /* Phone input stylings */
    p {
        font-size: 13px;
        font-weight: 300;
        color: #aaaaaa;
    }

    #phone {
        margin-bottom: 10px;
    }

    #phone + p {
        margin-top: 0;
        margin-bottom: 17px;
    }

    /* URL input stylings */
    .proofhub_url_span {
        display: flex;
        width: 97%;
        font-size: 13px;
        font-weight: 300;
        margin-top: 10px;
    }   

    #proofhub_url {
        margin: 0;
    }

/* Continue button stylings */
.submit,
.continue_btn {
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 15px;
    letter-spacing: 1px;
}

.continue_btn {
    cursor: not-allowed;
    color: white;
    background-color: #aaaaaa;
}

.submit {
    color: white ;
    background-color: #00a331 ;
}

/* Acknowledgement stylings */
.acknowledgement {
    color: #444;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 15px;
}

.acknowledgement a {
    text-decoration: underline;
    color: #089733;
}

/* Help button stylings */
.help_btn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.help_btn > button {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #ff6200;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    box-shadow: 0 2px 10px -5px grey;
}

.help_btn > button:hover {
    background-color: #eb5a00;
}

.help_btn > button:active {
    transform: scale(95%);
    transition: 185ms;
    background-color: #d15000;
}

.help_btn img {
    width: 25px;
    height: 25px;
    transform: scaleX(-1);
    filter: invert(100%);
}
